body {
  /*background-image: url("fondoPrincipal.jpg");*/
  background-color: grey;
}

.contenedor {
  height: 1000px;
  max-width: 1000px;
  width: 95%;
  margin: auto;
  background-color: lightblue;
}

/*El header contiene el logo y el menu. */
.contenedorMenu {
	width: 80%;/*Para que oucpe solo el 95% del tamaño total.*/
	max-width:1000px; /*Tamaño total*/
	margin:auto;/*margen centrado*/
}
 
.contenedorMenu p {
	margin-bottom:40px; /*Establecer el margen superior del elemento <p>*/
}
 
header nav {
	background:black;
	margin-bottom: 10px; /*Establecer el margen superior del elemento <nav>*/
}
 
header nav ul {
	list-style: none; /*Quite los estilos de la lista (qiute las viñetas)*/
	overflow: hidden; /*El desbordamiento se recorta, y el resto del contenido será invisible*/
}
 
header nav ul li {
	float: left; /*Lo colocamos ala izquierda*/
}
 
header nav ul li a {
	display: block; /*Muestra un elemento como un elemento de bloque*/
	padding: 20px; /*Eespacio alrededor del contenedor */
	color:#fff; /*Ccolor de la letra*/
	/*text-decoration: none;*/
  font-family: Arial, Helvetica, sans-serif;
}
 
header nav ul li a:hover {
	background:#2980b9; /*Fondo para cuando seleccionemos un parte del menu*/
}
 
/*Clase que agregaremos cuando el usuario haga scroll*/
.menu-fixed {
	position:fixed;
	z-index:1000;
	top:0;
	max-width:1000px;
	width:95%;
	box-shadow:0px 4px 3px rgba(0,0,0,.5);
}
